{% extends 'base.html' %}

{% block title %}Change Password {% endblock %}

{% block content %}
<div style="margin-top: 10%" class="text-center">

    <form class="form-group" method="post">
        {% csrf_token %}
        <div style="margin-left: 30%; margin-right: 30%">
            <h2>User: {{user.username}}</h2>
            <div class="row">
                {{form_password.old_password.errors}}
                <div class="col-md-5 mt-2 text-right">
                    <span>old password: </span>
                </div>
                <div class="col-md-7 text-left">
                    {{form_password.old_password}}
                </div>
            </div>
            <div class="row">
                {{form_password.new_password1.errors}}
                <div class="col-md-5 mt-2 text-right">
                    <span>New Password: </span>
                </div>
                <div class="col-md-7 text-left">
                    {{form_password.new_password1}}
                </div>
            </div>
            <div class="row">
                {{form_password.new_password2.errors}}
                <div class="col-md-5 mt-2 text-right">
                    <span>Confirmation Password: </span>
                </div>
                <div class="col-md-7 text-left">
                    {{form_password.new_password2}}
                </div>
            </div>

            <div class="text-center">
                <a href="/index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Change" class="btn btn-primary">
            </div>
        </div>
    </form>

</div>
{% endblock %}