<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <h2>User: {{user.username}}</h2>
    <div class="form-group">
        {{form_password.old_password.errors}}
        <label>old password: </label>
        {{form_password.old_password}}
    </div>

    <div class="form-group">
        {{form_password.new_password1.errors}}
        <label>New password: </label>
        {{form_password.new_password1}}
    </div>

    <div class="form-group">
        {{form_password.new_password2.errors}}
        <label>Password Confirmation: </label>
        {{form_password.new_password2}}
    </div>

    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary">
    </div>
</form>

</body>
</html>
